{% extends 'htfiles/header.html' %}
{% block title%}Reset Password{% endblock %}
{% block content %}
<style type="text/css">
	body, html {
  height: 100%;
}

.bg { 
  /* The image used */
  background-image: url("https://www.teahub.io/photos/full/206-2062181_ngo-street-drag-bike-party-hd.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<div class="bg">
<p class="py-5 text-center">
<div class="container">
	<div class="card col-md-5 mt-4 shadow-lg mx-auto" style="background-image: url('https://www.teahub.io/photos/full/206-2062181_ngo-street-drag-bike-party-hd.jpg')">
		<div class="card-body" >
			<h3 class="text-light text-center bg-dark mt-2 p-2 border rounded">Reset password email</h3>
			<form method="POST">
				{% csrf_token %}
				<!-- {{form.as_p}} -->
				<input type="email" name="email" class="form-control my-2" placeholder="Enter your mailID">
				<input type="submit" value="Submit" class="form-control btn btn-outline-secondary text-white"> 
			</form>
		</div>
	</div>
</div>
</div>
{% endblock %}